-#- content_for :head do
-#  = stylesheet_link_tag 'fullcalendar'
-#  = stylesheet_link_tag 'fullcalendar.print'
-#  = stylesheet_link_tag 'calendar'
-#
-#  = javascript_include_tag 'fullcalendar.min'
-#  = javascript_include_tag 'calendar'
-#
-#%calendar_content
-#  #calendar

%h1 Calendar