.chat_main
{
    overflow: auto;
    float: left;
    width: 70%;
    /*border: 1px solid red;*/
}

.chat_status
{
    overflow: auto;
    float: right;
    width: 24%;
    font-family: Arial, sans-serif; font-size: 0.8em;

    ul
    {
        margin: 0 0 20px 0;
        padding: 0;
        
        li
        {
            vertical-align: middle;
            list-style-type: none;

            img
            {
                height:16px;
                width: 16px;
            }
        }
    }

    .presence
    {
        a
        {
            width: 80%;
        }

        .available
        {
            border: 2px solid green;
        }

        .away
        {
            border: 2px solid orange;
        }
    }
}