#doing_practice
  //text-align: center
  #connections
    //border-top-color: #CC0000
    //border-right-color: blue
    //border-bottom-color: #00FF00
    //border-left-color: #CCC
    //border-top-width: 10px
    //border-right-width: 1em
    //border-bottom-width: thick
    //border-left-width: thin
    position: relative
    padding: 10%
    #diagram
      float: left
      text-align: center
      //border-top-width: 10px
      //border-right-width: 1em
      //border-bottom-width: thick
      //border-left-width: thin
    #set
      //border-top-color: #CC0000
      //border-right-color: blue
      //border-bottom-color: #00FF00
      //border-left-color: #CCC
      //border-top-width: 10px
      //border-right-width: 1em
      //border-bottom-width: thick
      //border-left-width: thin
      float: right
      text-align: center
  #chat
    position: relative
    vertical-align: middle
    //padding: 10%
    #console
      float: left
      text-align: center
    #group
      float: right
      text-align: center
      //padding: 10%