
$left_viewport_width: 53%;
$right_viewport_width: 41%;

$viewport_margin: 10px;

@import "mixins";

#practica
{
    #practica_countdown
    {
        overflow: auto;
        background-color: #111111;
        @include round-corners;
        width: 50%;
        margin: 0 auto;
    }
    .main_title
    {
        margin: 0 auto;
        text-align: center;
        color: #e85b08;
        font-family: Arial, sans-serif; font-size: 1.5em;
    }

    .title
    {
        margin: 0 auto;
        text-align: center;
    }

    div
    {
        //border: 1px solid black;
    }
    
    .viewport_row
    {
        overflow: auto;
        width: 98%;
        margin: 0 auto;
        padding: 5px;
    }

    .diagram
    {
        width: $left_viewport_width;
        float: left;
        border: 2px solid gray;
        @include dark-container;
    }

    .connections
    {
        width: $right_viewport_width;
        float: right;
        border: 2px solid gray;
        @include dark-container;
    }

    .consoles
    {
        width: $left_viewport_width;
        float: left;
        border: 2px solid gray;
        @include dark-container;
    }
    
    .chat
    {
        width: $right_viewport_width;
        float: right;
        border: 2px solid gray;
        @include dark-container;
    }

}

