
$left_viewport_width: 53%;
$right_viewport_width: 41%;

$viewport_margin: 10px;

@import "mixins";

#practica
{
    .main_title
    {
        margin: 0 auto;
        text-align: center;
        color: #e85b08;
    }

    .title
    {
        margin: 0 auto;
        text-align: center;
    }

    div
    {
        //border: 1px solid black;
    }
    
    .viewport_row
    {
        overflow: auto;
        width: 98%;
        margin: 0 auto;
        padding: 5px;
    }

    .diagram
    {
        width: $left_viewport_width;
        float: left;
        border: 1px solid red;
        @include dark-container;
    }

    .connections
    {
        width: $right_viewport_width;
        float: right;
        border: 1px solid yellow;
        @include dark-container;
    }

    .consoles
    {
        width: $left_viewport_width;
        float: left;
        border: 1px solid green;
        @include dark-container;
    }
    
    .chat
    {
        width: $right_viewport_width;
        float: right;
        border: 1px solid blue;
        @include dark-container;
    }

}

