@import "mixins";

.calendar
{
    float: center;
    overflow: auto;
    width: 150%;
    margin-bottom: 9px;
    @include darker-container;
}

.reserve_data
{
    float: center;
    overflow: auto;
    width: 615px;
    /*border: 2px solid #f58400;*/
    margin-bottom: 9px;
    margin: 0 auto;
    @include darker-container;
}

.title
{
    text-align: center;
    padding: 5px;
    color: #f58400;
    font-weight: bold;
}
