@import "mixins";

.reserve_data
{
    float: left;
    overflow: auto;
    /*width: 53%;*/
    /*border: 2px solid #f58400;*/
    margin-bottom: 9px;
    @include darker-container;
}

.title
{
    text-align: center;
    padding: 5px;
    color: #f58400;
    font-weight: bold;
}