/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* line 24, ../../app/stylesheets/screen.scss */
body {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  background-color: #f3f3f3;
}

/* line 31, ../../app/stylesheets/screen.scss */
header {
  overflow: auto;
  background: #f58400 url(images/ui-bg_gloss-wave_40_f58400_500x100.png) 50% 50% repeat-x;
  color: #000000;
  min-height: 73px;
  padding-bottom: 2px;
  border-bottom: 3px solid gray;
}
/* line 16, ../../app/stylesheets/screen.scss */
header .central {
  overflow: auto;
  width: 79%;
  margin: 0 auto 0 16%;
}
/* line 39, ../../app/stylesheets/screen.scss */
header .central .logo {
  float: left;
  text-align: center;
  padding-top: 6px;
}
/* line 46, ../../app/stylesheets/screen.scss */
header .central .session_info {
  text-align: right;
  /*width: 70%;*/
  margin-top: 30px;
  padding: 10px;
  float: right;
  background: #222222;
  color: #ffffff;
}

/* line 58, ../../app/stylesheets/screen.scss */
strong {
  font-weight: bolder;
}

/* line 63, ../../app/stylesheets/screen.scss */
.left_nav {
  float: left;
  width: 15%;
  padding-right: 1%;
  margin-top: 60px;
  margin-left: 2%;
  min-height: 400px;
  border-right: 1px solid #ffffff;
}
/* line 73, ../../app/stylesheets/screen.scss */
.left_nav ul {
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
}
/* line 79, ../../app/stylesheets/screen.scss */
.left_nav ul li a {
  width: 98%;
  margin-top: 1px;
  font-size: 0.8em;
}

/* line 88, ../../app/stylesheets/screen.scss */
section {
  overflow: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #292929), color-stop(0.44, #7a7a7a), color-stop(1, #cccccc));
  background-image: -moz-linear-gradient(center top, #292929 20%, #7a7a7a 44%, #cccccc 100%);
}

/* line 109, ../../app/stylesheets/screen.scss */
.main_content {
  width: 80%;
  min-height: 500px;
  float: left;
  padding-left: 1%;
  padding-bottom: 15px;
}

/* line 118, ../../app/stylesheets/screen.scss */
footer {
  overflow: auto;
  background: #f58400 url(images/ui-bg_gloss-wave_40_f58400_500x100.png) 50% 50% repeat-x;
  color: #000000;
  min-height: 73px;
  padding-top: 2px;
  border-top: 2px solid black;
}
/* line 16, ../../app/stylesheets/screen.scss */
footer .central {
  overflow: auto;
  width: 79%;
  margin: 0 auto 0 16%;
}

/* line 127, ../../app/stylesheets/screen.scss */
.field_with_errors {
  padding: 1px;
  background-color: red;
  display: table;
}

/* line 134, ../../app/stylesheets/screen.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 143, ../../app/stylesheets/screen.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 155, ../../app/stylesheets/screen.scss */
#error_explanation ul li {
  color: black;
  font-size: 12px;
  list-style: square;
}
