/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* line 6, ../../app/stylesheets/partials/elemental.scss */
h5 {
  margin-top: 2px;
}

/* line 26, ../../app/stylesheets/screen.scss */
body {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  background-color: #f3f3f3;
}

/* line 33, ../../app/stylesheets/screen.scss */
header {
  overflow: auto;
  background: #f58400 url(images/ui-bg_gloss-wave_40_f58400_500x100.png) 50% 50% repeat-x;
  color: #000000;
  min-height: 73px;
  padding-bottom: 2px;
  border-bottom: 3px solid gray;
}
/* line 18, ../../app/stylesheets/screen.scss */
header .central {
  overflow: auto;
  width: 79%;
  margin: 0 auto 0 16%;
}
/* line 41, ../../app/stylesheets/screen.scss */
header .central .logo {
  float: left;
  text-align: center;
  padding-top: 6px;
}
/* line 48, ../../app/stylesheets/screen.scss */
header .central .session_info {
  text-align: right;
  /*width: 70%;*/
  margin-top: 30px;
  padding: 10px;
  float: right;
  background: #222222;
  color: #ffffff;
}

/* line 60, ../../app/stylesheets/screen.scss */
strong {
  font-weight: bolder;
}

/* line 65, ../../app/stylesheets/screen.scss */
.left_nav {
  float: left;
  width: 15%;
  padding-right: 1%;
  margin-top: 60px;
  margin-left: 2%;
  min-height: 400px;
  border-right: 1px solid #ffffff;
}
/* line 75, ../../app/stylesheets/screen.scss */
.left_nav ul {
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
}
/* line 81, ../../app/stylesheets/screen.scss */
.left_nav ul li a {
  width: 98%;
  margin-top: 1px;
  font-size: 0.8em;
}

/* line 90, ../../app/stylesheets/screen.scss */
section {
  overflow: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #292929), color-stop(0.44, #7a7a7a), color-stop(1, #cccccc));
  background-image: -moz-linear-gradient(center top, #292929 20%, #7a7a7a 44%, #cccccc 100%);
}

/* line 111, ../../app/stylesheets/screen.scss */
.main_content {
  width: 80%;
  min-height: 500px;
  float: left;
  padding-left: 1%;
  padding-bottom: 15px;
}

/* line 120, ../../app/stylesheets/screen.scss */
footer {
  overflow: auto;
  background: #f58400 url(images/ui-bg_gloss-wave_40_f58400_500x100.png) 50% 50% repeat-x;
  color: #000000;
  min-height: 73px;
  padding-top: 2px;
  border-top: 2px solid black;
}
/* line 18, ../../app/stylesheets/screen.scss */
footer .central {
  overflow: auto;
  width: 79%;
  margin: 0 auto 0 16%;
}

/* line 129, ../../app/stylesheets/screen.scss */
.field_with_errors {
  padding: 1px;
  background-color: red;
  display: table;
}

/* line 136, ../../app/stylesheets/screen.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 145, ../../app/stylesheets/screen.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 157, ../../app/stylesheets/screen.scss */
#error_explanation ul li {
  color: black;
  font-size: 12px;
  list-style: square;
}

/* line 164, ../../app/stylesheets/screen.scss */
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
}

/* line 172, ../../app/stylesheets/screen.scss */
.align_top {
  vertical-align: top;
}

/* line 174, ../../app/stylesheets/screen.scss */
.dark_container {
  background: #222222;
  padding: 1%;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* line 179, ../../app/stylesheets/screen.scss */
.darker_container {
  background: #151515;
  padding: 1%;
  margin: 5px;
  border: 1px solid gray;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* line 184, ../../app/stylesheets/screen.scss */
.light_container {
  background: #666666;
  padding: 1%;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* line 189, ../../app/stylesheets/screen.scss */
.white_links {
  color: #eeeeee;
}
/* line 191, ../../app/stylesheets/screen.scss */
.white_links a:visited {
  color: #f5bf00;
}
/* line 192, ../../app/stylesheets/screen.scss */
.white_links a {
  color: #f58400;
}

/* line 196, ../../app/stylesheets/screen.scss */
.reset_links {
  color: #eeeeee;
}
/* line 198, ../../app/stylesheets/screen.scss */
.reset_links a:visited {
  color: #8fda00;
}
/* line 199, ../../app/stylesheets/screen.scss */
.reset_links a {
  color: #ffffff;
}

/* line 203, ../../app/stylesheets/screen.scss */
.puerto_libre {
  color: #229922;
}

/* line 208, ../../app/stylesheets/screen.scss */
.puerto_conectado {
  color: #992222;
}

/* line 213, ../../app/stylesheets/screen.scss */
#countdown_timer {
  background: #151515;
  padding: 1%;
  margin: 5px;
  border: 1px solid gray;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  float: left;
  width: 150px;
}

/* line 220, ../../app/stylesheets/screen.scss */
.practica_image.diagram {
  background: #151515;
  padding: 1%;
  margin: 5px;
  border: 1px solid gray;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 450px;
}

/* line 227, ../../app/stylesheets/screen.scss */
#diagram.practice_diagram {
  background: #151515;
  padding: 1%;
  margin: 5px;
  border: 1px solid gray;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  max-width: 450px;
}
/* line 231, ../../app/stylesheets/screen.scss */
#diagram.practice_diagram img {
  width: 100%;
}
