/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* line 9, ../../app/stylesheets/screen.scss */
header {
  overflow: auto;
  border: 1px solid black;
}
/* line 14, ../../app/stylesheets/screen.scss */
header .central {
  overflow: auto;
  width: 80%;
  margin: 0 auto 0 15%;
  border: 2px solid red;
  vertical-align: bottom;
}
/* line 23, ../../app/stylesheets/screen.scss */
header .central .session_info {
  text-align: right;
  width: 60%;
  border: 3px solid black;
  margin: 40px 0 0 0;
  color: black;
  float: right;
}

/* line 35, ../../app/stylesheets/screen.scss */
#left_nav {
  float: left;
  text-align: right;
  width: 14%;
}

/* line 42, ../../app/stylesheets/screen.scss */
section {
  width: 80%;
  border: 2px solid red;
  margin: 0 auto 0 15%;
  min-height: 700px;
}

/* line 50, ../../app/stylesheets/screen.scss */
footer {
  overflow: auto;
  border: 1px solid black;
  vertical-align: middle;
}
/* line 56, ../../app/stylesheets/screen.scss */
footer .central {
  overflow: auto;
  width: 80%;
  margin: 0 auto 0 15%;
  border: 2px solid red;
  min-height: 65px;
}
