/*
 *  File:         demo_table_jui.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */
/*
 * jQuery UI specific styling
 */
/* line 33, ../../app/stylesheets/telelab_datatables.scss */
.paging_two_button .ui-button {
  float: left;
  cursor: pointer;
  * cursor: hand;
}

/* line 38, ../../app/stylesheets/telelab_datatables.scss */
.paging_full_numbers .ui-button {
  padding: 2px 6px;
  margin: 0;
  cursor: pointer;
  * cursor: hand;
}

/* line 44, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_paginate .ui-button {
  margin-right: -0.1em !important;
}

/* line 47, ../../app/stylesheets/telelab_datatables.scss */
.paging_full_numbers {
  width: 350px !important;
}

/* line 50, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_wrapper .ui-toolbar {
  padding: 5px;
}

/* line 53, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_paginate {
  width: auto;
}

/* line 56, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_info {
  padding-top: 3px;
}

/* line 59, ../../app/stylesheets/telelab_datatables.scss */
table.display thead th {
  padding: 3px 0px 3px 10px;
  cursor: pointer;
  * cursor: hand;
}

/* line 64, ../../app/stylesheets/telelab_datatables.scss */
div.dataTables_wrapper .ui-widget-header {
  font-weight: normal;
}

/*
 * Sort arrow icon positioning
 */
/* line 71, ../../app/stylesheets/telelab_datatables.scss */
table.display thead th div.DataTables_sort_wrapper {
  position: relative;
  padding-right: 20px;
  padding-right: 20px;
}
/* line 75, ../../app/stylesheets/telelab_datatables.scss */
table.display thead th div.DataTables_sort_wrapper span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Everything below this line is the same as demo_table.css. This file is
 * required for 'cleanliness' of the markup
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */
/* line 92, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_wrapper {
  position: relative;
  _height: 302px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 3px solid #e4a104;
  /*color: #e4a104;*/
  /*padding: 1px;*/
  clear: both;
}

/* line 103, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_processing {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 11px;
  padding: 2px 0;
}

/* line 115, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_length {
  width: 40%;
  float: left;
}

/* line 119, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
}

/* line 124, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_info {
  width: 50%;
  float: left;
}

/* line 128, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_paginate {
  float: right;
  text-align: right;
}

/* Pagination nested */
/* line 134, ../../app/stylesheets/telelab_datatables.scss */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: left;
}

/* line 140, ../../app/stylesheets/telelab_datatables.scss */
.paginate_disabled_previous {
  background-image: url("../images/datatables/back_disabled.jpg");
}

/* line 143, ../../app/stylesheets/telelab_datatables.scss */
.paginate_enabled_previous {
  background-image: url("../images/datatables/back_enabled.jpg");
}

/* line 146, ../../app/stylesheets/telelab_datatables.scss */
.paginate_disabled_next {
  background-image: url("../images/datatables/forward_disabled.jpg");
}

/* line 149, ../../app/stylesheets/telelab_datatables.scss */
.paginate_enabled_next {
  background-image: url("../images/datatables/forward_enabled.jpg");
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
/* line 156, ../../app/stylesheets/telelab_datatables.scss */
table.display {
  margin: 0 auto;
  width: 100%;
  clear: both;
  color: #000000;
  border-collapse: collapse;
}
/* line 162, ../../app/stylesheets/telelab_datatables.scss */
table.display tfoot th {
  padding: 3px 0px 3px 10px;
  font-weight: bold;
  font-weight: normal;
}
/* line 166, ../../app/stylesheets/telelab_datatables.scss */
table.display tr.heading2 td {
  border-bottom: 1px solid #aaa;
}
/* line 168, ../../app/stylesheets/telelab_datatables.scss */
table.display td {
  padding: 3px 10px;
}
/* line 170, ../../app/stylesheets/telelab_datatables.scss */
table.display td.center {
  text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */
/* line 177, ../../app/stylesheets/telelab_datatables.scss */
.sorting_asc {
  background: url("../images/datatables/sort_asc.png") no-repeat center right;
}

/* line 180, ../../app/stylesheets/telelab_datatables.scss */
.sorting_desc {
  background: url("../images/datatables/sort_desc.png") no-repeat center right;
}

/* line 183, ../../app/stylesheets/telelab_datatables.scss */
.sorting {
  background: url("../images/datatables/sort_both.png") no-repeat center right;
}

/* line 186, ../../app/stylesheets/telelab_datatables.scss */
.sorting_asc_disabled {
  background: url("../images/datatables/sort_asc_disabled.png") no-repeat center right;
}

/* line 189, ../../app/stylesheets/telelab_datatables.scss */
.sorting_desc_disabled {
  background: url("../images/datatables/sort_desc_disabled.png") no-repeat center right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
/* line 197, ../../app/stylesheets/telelab_datatables.scss */
tr.odd {
  /*background-color: #E2E4FF;*/
  background-color: #fdfdfd;
}
/* line 200, ../../app/stylesheets/telelab_datatables.scss */
tr.even {
  background-color: #f8f8f8;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
/* line 207, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_scroll {
  clear: both;
}

/* line 210, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_scrollBody {
  height: 100%;
}

/* line 213, ../../app/stylesheets/telelab_datatables.scss */
.top .dataTables_info {
  float: none;
}

/* line 216, ../../app/stylesheets/telelab_datatables.scss */
.clear {
  clear: both;
}

/* line 219, ../../app/stylesheets/telelab_datatables.scss */
.dataTables_empty {
  text-align: center;
}

/* line 222, ../../app/stylesheets/telelab_datatables.scss */
tfoot input {
  margin: 0.5em 0;
  width: 100%;
  color: #444;
}
/* line 226, ../../app/stylesheets/telelab_datatables.scss */
tfoot input.search_init {
  color: #999;
}

/* line 230, ../../app/stylesheets/telelab_datatables.scss */
td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #A19B9E;
  border-top: 2px solid #A19B9E;
}
/* line 234, ../../app/stylesheets/telelab_datatables.scss */
td.details {
  background-color: #d1cfd0;
  border: 2px solid #A19B9E;
}

/* line 239, ../../app/stylesheets/telelab_datatables.scss */
.paging_full_numbers span.paginate_button, .paging_full_numbers span.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
}
/* line 247, ../../app/stylesheets/telelab_datatables.scss */
.paging_full_numbers span.paginate_button {
  background-color: #ddd;
}
/* line 249, ../../app/stylesheets/telelab_datatables.scss */
.paging_full_numbers span.paginate_button:hover {
  background-color: #ccc;
}
/* line 251, ../../app/stylesheets/telelab_datatables.scss */
.paging_full_numbers span.paginate_active {
  background-color: #99B3FF;
}

/* line 255, ../../app/stylesheets/telelab_datatables.scss */
table.display tr.even.row_selected td {
  background-color: #B0BED9;
}
/* line 257, ../../app/stylesheets/telelab_datatables.scss */
table.display tr.odd.row_selected td {
  background-color: #9FAFD1;
}

/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
/* line 267, ../../app/stylesheets/telelab_datatables.scss */
tr.odd td.sorting_1 {
  /*background-color: #D3D6FF;*/
  background-color: #f0f0f0;
}
/* line 270, ../../app/stylesheets/telelab_datatables.scss */
tr.odd td.sorting_2 {
  background-color: #DADCFF;
}
/* line 272, ../../app/stylesheets/telelab_datatables.scss */
tr.odd td.sorting_3 {
  background-color: #E0E2FF;
}
/* line 275, ../../app/stylesheets/telelab_datatables.scss */
tr.even td.sorting_1 {
  /*background-color: #EAEBFF;*/
  background-color: #e8e8e8;
}
/* line 278, ../../app/stylesheets/telelab_datatables.scss */
tr.even td.sorting_2 {
  background-color: #F2F3FF;
}
/* line 280, ../../app/stylesheets/telelab_datatables.scss */
tr.even td.sorting_3 {
  background-color: #F9F9FF;
}

/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
/*
 * Row highlighting example
 */
/* line 298, ../../app/stylesheets/telelab_datatables.scss */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
  background-color: #ECFFB3;
}

/* line 301, ../../app/stylesheets/telelab_datatables.scss */
.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
  background-color: #E6FF99;
}
