<h1>AdminPanelController#index</h1>
<p>Find me in app/views/admin_panel_controller/index.html.erb</p>

<h2>OPTIONS</h2>

<%= link_to "Manage Cursos", courses_path %>
<%= link_to "Manage Users", users_path %>
