.calendar
{
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    float: left;
    margin-bottom: 10px;
    color: black;
}

#reservation_calendar
{
    width: 600px;
    margin: auto;
    border: 2px solid #f58400;
    background: #ffffff;
}
