/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/

@mixin site_bar
{
    overflow: auto;
    background: #0b3e6f url(images/ui-bg_glass_15_0b3e6f_1x400.png) 50% 50% repeat-x; color: #f6f6f6;

    .central
    {
        overflow: auto;
        width: 80%;
        margin: 0 auto 0 15%;
    }
}

body
{
    color: #ffffff;
    font-family: Arial, sans-serif; font-size: 0.9em;
    background-color: #f3f3f3;
}

header
{
    @include site_bar;

    .logo
    {
        position: relative;
        float: left;
        height: 73px;
        font-family: Arial, sans-serif; font-weight: bold;
        padding-left: 7px;
        text-align: center;
        
        .title
        {
            font-size: 2.7em;
        }

        .lema
        {
            font-size: 0.8em; color: #e44204;
        }
    }

    .central
    {
        .session_info
        {
            text-align: right;
            width: 70%;
            margin: 40px 0 2px 0;
            float: right;
        }
    }
}

strong
{
    font-weight: bolder;
}

.left_nav
{
    float: left;
    text-align: right;
    width: 20%;

    ul
    {
        li
        {
            overflow: auto;
            padding: 0px 0px 1px 0px;
            width: 90%;

            a
            {
                text-align: left;
                width: 90%;
            }
        }

    }

}

section
{
    overflow: auto;
    margin: 0;
    padding: 0;
    background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0.2, rgb(41,41,41)),
          color-stop(0.44, rgb(122,122,122)),
          color-stop(1, rgb(204,204,204))
      );
      background-image: -moz-linear-gradient(
          center top,
          rgb(41,41,41) 20%,
          rgb(122,122,122) 44%,
          rgb(204,204,204) 100%
      );
}

.main_content
{   
    width: 80%;
    margin: 0 0 0 15%;
    min-height: 500px;
}

footer
{
    @include site_bar;

    vertical-align: middle;

    .central
    {
        min-height: 73px;
    }
}