/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/

@mixin site_bar
{
    overflow: auto;
    background: #f58400 url(images/ui-bg_gloss-wave_40_f58400_500x100.png) 50% 50% repeat-x; color: #000000;

    min-height: 73px;

    .central
    {
        overflow: auto;
        width: 79%;
        margin: 0 auto 0 16%;
    }
}

body
{
    color: #ffffff;
    font-family: Arial, sans-serif; font-size: 0.9em;
    background-color: #f3f3f3;
}

header
{
    @include site_bar;
    padding-bottom: 2px;
    border-bottom: 3px solid gray;

    .central
    {
        .logo
        {
            float: left;
            text-align: center;
            padding-top: 6px;
        }

        .session_info
        {
            text-align: right;
            /*width: 70%;*/
            margin-top: 30px;
            padding: 10px;
            float: right;
            background: #222222; color: #ffffff;
        }
    }
}

strong
{
    font-weight: bolder;
}

.left_nav
{
    float: left;
    width: 15%;
    padding-right: 1%;
    margin-top: 60px;
    margin-left: 2%;
    min-height: 400px;
    border-right: 1px solid #ffffff;

    ul
    {
        margin: 0;
        padding: 0 0 0 0;
        list-style-type: none;

        li a
        {
            width: 98%;
            margin-top: 1px;
            font-size: 0.8em;
        }
    }
}

section
{
    overflow: auto;

    background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0.2, rgb(41,41,41)),
          color-stop(0.44, rgb(122,122,122)),
          color-stop(1, rgb(204,204,204))
      );
      background-image: -moz-linear-gradient(
          center top,
          rgb(41,41,41) 20%,
          rgb(122,122,122) 44%,
          rgb(204,204,204) 100%
      );

}

.main_content
{
    width: 80%;
    min-height: 500px;
    float: left;
    padding-left: 1%;
    padding-bottom: 15px;
}

footer
{
    @include site_bar;
    padding-top: 2px;
    border-top: 2px solid black;
}

// ERROR HANDLING xD

.field_with_errors
{
    padding: 1px;
    background-color: red;
    display: table;
}

#error_explanation
{
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;

    h2
    {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px;
        margin-bottom: 0px;
        background-color: #c00;
        color: #fff;
    }

    ul li
    {
        color: black;
        font-size: 12px;
        list-style: square;
    }
}

