%ul
  %li
    = link_to "Bienvenido", home_path, :class => 'button'
  %li
    = link_to "Manual de usuario",'http://www.google.com', :class => 'button'
  %li
    = link_to "Reservar Practica", new_practica_path, :class => 'button'
  %li
    = link_to "Mis Practicas", student_practicas_path, :class => 'button'