%ul
  %li
    = link_to "Bienvenido", home_path, :class => 'button'
  %li
    = link_to "Manual de usuario",'http://www.google.com', :class => 'button'
  %li
    = link_to "Gestionar Practicas", practicas_path, :class => 'button'