- if free_devices.empty?
  %div{:style => 'color: #ff0000'}
    El horario seleccionado no tiene dispositivos disponibles
- else
  - free_devices.each do |dispositivo|
    %div.checkboxy
      = check_box_tag "practica[dispositivo_ids][]", dispositivo.id, false, :id => "practica_dispositivo_id_#{dispositivo.id}"
      = label_tag nil, dispositivo.nombre, :for => "practica_dispositivo_id_#{dispositivo.id}"
