- content_for :head do
  = javascript_include_tag 'tabs'
  = stylesheet_link_tag 'partials/make_pactice'
#practica
  .main_title WHAT IS THIS??
  .viewport_row
    .diagram
      .title This is DIAGRAM

    .connections
      .title This is CONNECTIONS
  .viewport_row
    .consoles
      .title This is CONSOLES
      = render :partial => "practicas/practice_gadgets/console"

    .chat
      .title This is CHAT
