- content_for :head do
  = stylesheet_link_tag 'partials/chat'

#presence_notice

.chat_main

.chat_status
  .user_list
    = render :partial => 'practicas/practice_gadgets/chat_status', :locals => {:users => @allowed_users, :channel => @channel}

  .presence
    - the_status = (current_user.chat_status @channel)
    %a#status{:class => "button #{the_status}"}= "#{the_status.to_s.capitalize}"
