- content_for :head do
  = stylesheet_link_tag 'partials/chat'

.chat_main

.chat_status
  .user_list
    = render :partial => 'practicas/practice_gadgets/chat_status', :locals => {:users => @allowed_users, :channel => @channel}

  .presence
    %a{:class => :button} STATUS!