- content_for :head do
  = stylesheet_link_tag 'partials/chat'

.chat_main

.chat_status
  .user_list
    %ul
      %li miau
      %li shaka
      %li javhur
  .presence
    %a{:class => :button} STATUS!