- content_for :head do
  = stylesheet_link_tag 'partials/console'
  = stylesheet_link_tag 'jquery.terminal'
  = javascript_include_tag 'jquery.terminal-0.3.6'

#console_tabs_container.tabs
  = device_consoles @dispositivos_reservados