/* line 2, ../../../app/stylesheets/partials/chat.scss */
.chat_main {
  overflow: auto;
  float: left;
  width: 70%;
  /*border: 1px solid red;*/
}

/* line 10, ../../../app/stylesheets/partials/chat.scss */
.chat_status {
  overflow: auto;
  float: right;
  width: 24%;
  font-family: Arial, sans-serif;
  font-size: 0.8em;
}
/* line 17, ../../../app/stylesheets/partials/chat.scss */
.chat_status ul {
  margin: 0 0 20px 0;
  padding: 0;
}
/* line 22, ../../../app/stylesheets/partials/chat.scss */
.chat_status ul li {
  vertical-align: middle;
  list-style-type: none;
}
/* line 27, ../../../app/stylesheets/partials/chat.scss */
.chat_status ul li img {
  height: 16px;
  width: 16px;
}
/* line 37, ../../../app/stylesheets/partials/chat.scss */
.chat_status .presence a {
  width: 80%;
}
/* line 42, ../../../app/stylesheets/partials/chat.scss */
.chat_status .presence .available {
  border: 2px solid green;
}
/* line 47, ../../../app/stylesheets/partials/chat.scss */
.chat_status .presence .away {
  border: 2px solid orange;
}
