/* line 2, ../../../app/stylesheets/partials/chat.scss */
.chat_main {
  overflow: auto;
  float: left;
  width: 70%;
  border: 1px solid red;
}

/* line 10, ../../../app/stylesheets/partials/chat.scss */
.chat_status {
  overflow: auto;
  float: right;
  width: 25%;
  border: 1px solid green;
}
