/* line 2, ../../../app/stylesheets/partials/console.sass */
#tabs .text_area {
  text-align: center;
}
/* line 4, ../../../app/stylesheets/partials/console.sass */
#tabs .text_field {
  text-align: left;
}
/* line 6, ../../../app/stylesheets/partials/console.sass */
#tabs .submit {
  text-align: left;
}
