/* line 4, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .terminal .clipboard {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.01;
  filter: alpha(opacity=0.01);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.01);
}
/* line 14, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .cmd > .clipboard {
  position: fixed;
}
/* line 19, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .terminal {
  padding: 10px;
  position: relative;
  /*overflow: hidden;*/
  overflow-y: scroll;
}
/* line 27, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .cmd {
  padding: 0;
  margin: 0;
  height: 1.3em;
}
/* line 33, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .terminal {
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  color: #aaa;
  background-color: #ffffff;
  font-size: 12px;
}
/* line 35, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .terminal .terminal-output {
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
}
/* line 43, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .terminal .terminal-output div {
  /*overflow: auto;*/
  overflow-y: auto;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
}
/* line 52, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .terminal .terminal-output div div {
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
}
/* line 69, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .cmd {
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
}
/* line 81, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .terminal .cmd span, .chat .terminal .cmd div {
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
}
/* line 89, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .terminal .cmd span {
  float: left;
}
/* line 95, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .terminal div::selection, .chat .terminal span::selection, .chat .terminal .cmd span.inverted, .chat .terminal div::-moz-selection, .chat .terminal span::-moz-selection {
  background-color: #000000;
  color: #000;
}
/* line 101, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .terminal .terminal-output div.error {
  color: red;
}
/* line 104, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .terminal .terminal-output div.error div {
  color: red;
}
/* line 111, ../../../app/stylesheets/partials/terminal_chat.scss */
.chat .tilda {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
}
